#signin {
  .block-sec {
    .sign-box {
      position: relative;
      padding: 80px 40px;
      margin-bottom: -120px;
      z-index: 2;

      &:after {
        content: '';
        position: absolute;
        left: -10px;
        top: -10px;
        right: -10px;
        bottom: -10px;
        background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
        background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
        background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
        background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
        z-index: -4;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: #111215;
        z-index: -1;
      }

      .head-box {
        h6 {
          color: #12c2e9;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 4px;
          margin-bottom: 10px;
        }

        h4 {
          margin-bottom: 40px;
        }
      }

      .form {
        .controls {
          .form-group {
            margin-bottom: 30px;
            input {
              width: 100%;
              padding: 15px 0;
              border: 0;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
              background: transparent;
              color: #fff;
            }
          }
        }
      }
    }
  }
}