.__next {
  .particles {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;

    .cont {
      h1 {
        font-size: 90px;
        font-weight: 800;
      }
    }

    // .animation-wrapper {
    //   opacity: 0.5;
    // }
  }
}

.mh-100vh {
  min-height: 100vh;
}

.mh-93vh {
  min-height: 93.2vh;
}

.hide-text {
  color: transparent;
}